*{
   margin: 0;
   padding: 0;
   font-family: Century Gothic;
}
body{
	text-align: justify;
}
.head{
	height: auto;
}
/* header{
	 background-color:#a50447e7;
	 height: 800px;
	 background-size: cover;
	 background-position: center;
} */
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	 display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}
ul li.active a{
	background-color: #fff;
	color: #000;
}
.article-head{
	height: 300px;
	font-size: 20px;
	text-align: center;
	color: white;
	background-color: black;
}
.logo img{
	float: left;
	width: 95px ;
	padding: 8px 7px;
	height: auto;
}
.main{
	 max-width: 1200px;
	 margin: auto;
}
.title{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color:floralwhite;
	font-size: 45px;
}
.title h4{
	color:floralwhite;
	font-size: 20px;
}

.content-head{
	text-align: justify;
	padding: 5%;
	background-color: rgb(193, 26, 107);
	color: floralwhite;
}
.bytesthenewsletter{
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	font-size: 50px;
	font-weight: 250;
	padding-bottom: 1%;
}
.sub-content-head{
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}
.button{
	position: absolute;
	top: 70%;
	left: 70%;
	transform: translate(-50%,-50%);
	background-color: white;
	color: #000;
}

.collection-image{
	width: 150px;
	margin: 10px;
}

.img-with-text{
	width: 180px;
}