*{
   margin: 0;
   padding: 0;
   font-family: Century Gothic;
}
body{
	text-align: justify;
}
.head{
	height: auto;
}
/* header{
	 background-color:#a50447e7;
	 height: 800px;
	 background-size: cover;
	 background-position: center;
} */
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	 display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}
ul li.active a{
	background-color: #fff;
	color: #000;
}
.article-head{
	height: 300px;
	font-size: 20px;
	text-align: center;
	color: white;
	background-color: black;
}
.logo img{
	float: left;
	width: 95px ;
	padding: 8px 7px;
	height: auto;
}
.main{
	 max-width: 1200px;
	 margin: auto;
}
.title{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color:floralwhite;
	font-size: 45px;
}
.title h4{
	color:floralwhite;
	font-size: 20px;
}

.content-head{
	text-align: justify;
	padding: 5%;
	background-color: rgb(193, 26, 107);
	color: floralwhite;
}
.bytesthenewsletter{
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	font-size: 50px;
	font-weight: 250;
	padding-bottom: 1%;
}
.sub-content-head{
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}
.button{
	position: absolute;
	top: 70%;
	left: 70%;
	transform: translate(-50%,-50%);
	background-color: white;
	color: #000;
}

.collection-image{
	width: 150px;
	margin: 10px;
}

.img-with-text{
	width: 180px;
}

/* carsole css */
.carsole{
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.slider{
	height: 500px;
	width: 800px;
	border-radius: 10px;
	overflow: hidden;
}
.slides{
	width: 500%;
	height: 500px;
	display: flex;
}
.slides input{
	display: none;
}
.slide{
	width: 20%;
	transition: 2s;
}
.slide img{
	width: 800px;
	height: 500px;
}
.navigation-manual{
	position: absolute;
	width: 800px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}

.manual-btn{
	border: 2px solid rgb(0, 183, 245);
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.manual-btn:not(:last-child){
	margin-right: 40px;
}

.manual-btn:hover{
	background: rgb(0, 183, 245);
}

#radio1:checked ~ .first{
	margin-left: 0;
}
#radio2:checked ~ .first{
	margin-left: -20%;
}
#radio3:checked ~ .first{
	margin-left: -40%;
}
#radio4:checked ~ .first{
	margin-left: -60%;
}